openpyxl
pandas
pyautogui
pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-timeout
pytest-mock
playwright
responses
aioresponses
flake8
pylint
black
pytest-html
allure-pytest
wikipedia
wsproto
xlwings
zope.interface
